.overlayCanvas {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  cursor: crosshair;
}
.mainCanvas {
  position: absolute;
  cursor: crosshair;
  z-index: 1;

}
.btnList{
 display: flex; 
 gap: 10px;
 justify-content: center;
 margin-top: 10px;
 position: relative;
 z-index: 3;
 
}

.drawBtn{
  padding: 10px;
  background-color: white;
  color: black;
  cursor: pointer;

}